<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Francisco Fernandez">
    <meta name="description" content="Nodepop">
    <title><%= titulo %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700,800" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">    
</head>

<body>
    <div class="top-wrapper">
        <header>
            <h1 class="h1-main"><%= titulo %></h1>
            <nav>            
                <ul class="navbar-wrapper">
                   
                        <% getLocales().forEach( lang => { %>
                            <li >
                                <% if(lang === 'es') { %>
                                    <a href="/lang/<%= lang %>">
                                        <img src="/flagsIcons/spain.png" class="icon-image" alt="<%= __('Icono bandera españa') %>"></img>
                                    </a>
                                <% } %>
                                <% if(lang === 'en') { %>
                                    <a href="/lang/<%= lang %>">
                                        <img src="/flagsIcons/united_states.png" class="icon-image" alt="<%= __('Icono bandera estados unidos') %>"></img>
                                    </a>
                                <% } %>                               
                            </li>
                        <% }) %>  
                    <li >
                        <a href="/"><%= __('Inicio') %></a>
                    </li>
                    <% if (!session.authUser) { %>
                        <li >
                            <a class="button-action-header" href="/login"><%= __('Conectarse') %></a>
                        </li>
                    <% } else { %>
                        <li >
                            <a href="/private"><%= __('Productos') %></a>
                        </li>
                        <li >
                            <a class="button-action-header" href="/logout"><%= __('Desconectarse') %></a>
                        </li>
                    <% } %>
                </ul>                  
            </nav>
        </header>
    </div>  