<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Francisco Fernandez">
    <meta name="description" content="Nodepop">
    <title><%= titulo %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700,800" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">    
</head>

<body>
    <div class="top-wrapper">
        <header>
            <h1 class="h1-main"><%= titulo %></h1>
        </header>
	</div>
	
    <section id="searchResult">       
        <div class="content-wrapper">			
			<% if (tags !== null) {%>
				<span>Tags disponibles : [</span><%= tags %><span>]</span>			
			<%}%>
            <% if (items !== null) {%>
                <% if (items.length === 0) {%>
                    <span>No hay productos que coincidan con la busqueda</span>
                <%} else {%>    
                    <% items.forEach((item) => { %>
                        <article>
                            <img src="<%= item.photo %>">  
                            <div>
                                <p><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) %></p>
                                <p><%= (item.sale)?'Venta':'Compra' %> - <%= item.price %><span>€</span></p>
                                <p><span>[</span><%= item.tags %><span>]</span></p>
                            </div>            
                        </article> 
                    <% }) %>
                <%}%>             
			<%}%>
        </div>
    </section>

    <footer>        
        <p><small>Copyright © Your Website 2018</small></p>
    </footer>
</body>

</html>