<% include header.html %>

<section>
  <div class="element-center">
    <div class="login-wrapper">
          <form method="POST">
            <div class="form-group">
              <label for="email"><%= __('Direccion email') %></label>
              <input type="email" id="email" placeholder="<%= __('Introduzca email') %>" name="email" value="<%= email %>">
            </div>
            <div class="form-group">
              <label for="password"><%= __('Contrasena') %></label>
              <input type="password" id="password" placeholder="<%= __('Introduzca contrasena') %>" name="password">
            </div>
            <input type="submit" value="<%= __('Enviar') %>"><%= __('Enviar') %></button>
            <% if(error === 'invalid_credentials') { %>
              <div class="error"><%= __('Credenciales erroneas') %></div>
            <% } %>
          </form>
    </div>
  </div>
</section>

<% include footer.html %>