/*
** Variables **
*/

:root {
  --color-text: rgb(31, 31, 31);
  --color-background: rgb(249, 249, 249);
  --color-white: rgb(255, 255, 255);
  --color-border-card: rgb(244, 244, 244);  
  --color-header-footer: rgb(45, 43, 43);  
  --color-secondary: #39A9DB;
  --color-red: red;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);  
  font-family: 'Open Sans', sans-serif;
}

form {
  width: 80%;
  text-align: initial;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-size: 36px;
}

.top-wrapper {
  display: flex;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: baseline;    
}

.h1-main {
  display: inline-block;
  color: var(--color-white);
  font-size: 1.25rem;
}

header {
  position: static;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}

nav{
  display: inline-block;
  text-align: end;
}

.navbar-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  font-size: 16px;
  font-weight: bold;
}

.navbar-wrapper li{
  color: var(--color-white);
  padding-right: 10px; 
}

.button-action-header {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  padding: 5px 5px;
  background-color: transparent;
  cursor: pointer;
}

.important {
  color: var(--color-secondary);
  font-weight: bold;
}

.background-image {
  width: 100%;
}

.element-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}

.login-wrapper {   
  width: 400px;
  height: 300px;
  border-radius: 6px 6px 3px 3px;   
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: solid 1px var(--color-secondary);
  margin-bottom: 15px;
}


input[type="submit"]  {
  cursor: pointer;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  padding: 4px 4px;
  background-color: transparent;
}

.icon-image {
  width: 22px;
  height: 22px;  
}

.error {
  color: var(--color-red);
  font-weight: bolder;
  text-align: center;
}

/* SECCION */ 

section .content-wrapper, nav.content-wrapper {
  width: 95%;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.content-wrapper {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;  
  justify-content: center;
  top: 4rem;  
  min-height: 78.5vh;
}

.content-wrapper article {   
   width: 202px;
   height: 300px;
   border-radius: 6px 6px 3px 3px;   
   box-shadow: 0 1px 2px rgba(25,25,25,0.2);
   margin-left: 2rem;
   margin-bottom: 2rem;
   background-color: var(--color-white);
}

.content-wrapper article img {
  border-radius: 3px 3px 0 0;
  bottom: 0;
  display: block;
  left: 0;  
  right: 0;
  top: 0;
  width: 100%;
  max-height: 168px;
}

.content-wrapper article div {  
  padding: 7px 10px 0 10px;  
}

.content-wrapper article div p {
  padding: 15px 10px 0 10px;
  font-size: 13px;
  line-height: 1.3;  
  display: block;  
  margin-bottom: 9px;
  overflow: hidden;
}

.content-wrapper article div p:first-child {
  font-weight: bold;    
}

.content-wrapper span {
  font-weight: bold;    
}

.top-wrapper, footer {
  background-color: var(--color-header-footer);
  
}

footer { 
  color: var(--color-white);  
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;  
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  background-color: var(--color-header-footer);
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  padding-bottom: 1rem;
}